<<<<<<< HEAD
@import 'elements/colors';
@import 'grid/layout';
@import 'elements/btn';
@import 'componenets/nav';
@import 'elements/font';
@import 'componenets/banner';
@import 'componenets/form';
@import 'componenets/content';
@import 'componenets/footer';
@import 'componenets/article';
=======
@import
    'abstract/variables',
    'abstract/mixins';

@import 
    'base/colors',
    'base/font';

@import 
    'layout/article',
    'layout/nav',
    'layout/banner',
    'layout/content',
    'layout/footer',
    'layout/grid';

@import 
    'components/btn',
    'components/form';
    
>>>>>>> AbdellahSabiri

body{
    padding:0;
    margin:0;
}

a{
  text-decoration: none;
}
