.c-white {
  color: #FFFFFF;
}

<<<<<<< HEAD
=======
.bg-white {
  background-color: #FFFFFF;
}

>>>>>>> AbdellahSabiri
.c-brown {
  color: #967D4D;
}

<<<<<<< HEAD
=======
.bg-brown {
  background-color: #967D4D;
}

>>>>>>> AbdellahSabiri
.c-blue {
  color: #35424A;
}

<<<<<<< HEAD
=======
.bg-blue {
  background-color: #35424A;
}

>>>>>>> AbdellahSabiri
.c-gray {
  color: #F4F4F4;
}

<<<<<<< HEAD
=======
.bg-gray {
  background-color: #F4F4F4;
}

>>>>>>> AbdellahSabiri
.c-black {
  color: #000;
}

<<<<<<< HEAD
.bg-white {
  background-color: #FFFFFF;
}

.bg-brown {
  background-color: #967D4D;
}

.bg-blue {
  background-color: #35424A;
}

.bg-gray {
  background-color: #F4F4F4;
}

.bg-black {
  background-color: #000;
=======
.bg-black {
  background-color: #000;
}

.c-light-gray {
  color: #E6E6E6;
}

.bg-light-gray {
  background-color: #E6E6E6;
}

.c-dark-gay {
  color: #CCCCCC;
}

.bg-dark-gay {
  background-color: #CCCCCC;
}

* {
  font-family: Arial;
}

h1 {
  font-size: 50px;
}

.s-small {
  font-size: 10px;
}

.s-medium {
  font-size: 20px;
}

.s-big {
  font-size: 30px;
}

aside {
  margin-left: 10px;
}

.marked {
  padding: 10px;
  color: #FFFFFF;
  background-color: #35424A;
}

.article {
  border: solid 1px;
  background-color: #E6E6E6;
  padding: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .article {
    text-align: center;
  }
}
nav {
  background-color: #35424A;
  color: #FFFFFF;
  border-bottom: 3px solid #967D4D;
  padding: 30px 8%;
  margin: 0;
}
nav::after {
  content: "";
  display: table;
  clear: both;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #FFFFFF;
  display: block;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

.active {
  color: #967D4D;
}

.links {
  float: right;
}

.logo {
  float: left;
}

@media only screen and (max-width: 700px) {
  .links, .links ul li {
    margin: auto;
    width: 100%;
  }
}
.banner {
  padding: 80px 50px;
  color: #FFFFFF;
  text-align: center;
  background: url("../images/showcase.jpg");
  background-position-y: center;
}

.subscribe-nav {
  background-color: #35424A;
  color: #FFFFFF;
  padding: 20px 8%;
  margin: 0;
}
.subscribe-nav::after {
  content: "";
  display: table;
  clear: both;
}

.subscribe-nav .left {
  float: left;
}

.subscribe-nav .right {
  float: right;
}

.subscribe-nav form {
  padding: 8px 0;
}

@media only screen and (max-width: 600px) {
  .right {
    clear: right;
    width: 100%;
    margin: auto;
  }

  .subscribe-nav form button, input {
    margin-top: 5px;
    width: 100%;
  }
}
.content {
  padding: 20px 0;
}

.element {
  text-align: center;
  color: #000;
}

footer {
  background-color: #967D4D;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
>>>>>>> AbdellahSabiri
}

* {
  box-sizing: border-box;
}

[class*=col-] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
<<<<<<< HEAD
  clear: both;
  display: table;
=======
  display: table;
  clear: both;
>>>>>>> AbdellahSabiri
}

.container {
  width: 90%;
  margin: auto;
}

.p-10 {
  padding: 10px;
}

@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }

  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }

  .container {
    width: 85%;
    margin: auto;
  }
}
@media only screen and (min-width: 992px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
  .col-1 {
    width: 8.33%;
  }

  .col-xs-2 {
    width: 16.66%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.33%;
  }

  .col-xs-5 {
    width: 41.66%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.33%;
  }

  .col-xs-8 {
    width: 66.66%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.33%;
  }

  .col-xs-11 {
    width: 91.66%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
.btn {
  background-color: #967D4D;
  color: #FFFFFF;
  padding: 10px 20px;
}

<<<<<<< HEAD
nav {
  background-color: #35424A;
  color: #FFFFFF;
  border-bottom: 3px solid #967D4D;
  padding: 30px 8%;
  margin: 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  color: #FFFFFF;
  display: block;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
}

nav::after {
  content: "";
  clear: both;
  display: table;
}

.active {
  color: #967D4D;
}

.links {
  float: right;
}

.logo {
  float: left;
}

@media only screen and (max-width: 700px) {
  .links, .links ul li {
    margin: auto;
    width: 100%;
  }
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
}

.s-big {
  font-size: 30px;
}

.s-medium {
  font-size: 20px;
}

.s-small {
  font-size: 10px;
}

.banner {
  padding: 80px 50px;
  color: #FFFFFF;
  text-align: center;
  background: url("../images/showcase.jpg");
  background-position-y: center;
}

.subscribe-nav {
  background-color: #35424A;
  color: #FFFFFF;
  padding: 20px 8%;
  margin: 0;
}

.subscribe-nav::after {
  content: "";
  display: table;
  clear: both;
}

.subscribe-nav .left {
  float: left;
}

.subscribe-nav .right {
  float: right;
}

.subscribe-nav form {
  padding: 8px 0;
}

@media only screen and (max-width: 600px) {
  .right {
    clear: right;
    width: 100%;
    margin: auto;
  }

  .subscribe-nav form button, input {
    margin-top: 5px;
    width: 100%;
  }
}
=======
>>>>>>> AbdellahSabiri
input, button {
  box-shadow: none;
  border: 0;
}

input {
  background: #FFFFFF;
  padding: 10px;
}

.block {
  width: 100%;
}

<<<<<<< HEAD
.content {
  padding: 20px 0;
}

.element {
  text-align: center;
  color: #000;
}

footer {
  background-color: #967D4D;
  text-align: center;
  color: #FFFFFF;
  padding: 20px;
}

aside {
  margin-left: 10px;
}

.marked {
  padding: 10px;
  color: #FFFFFF;
  background-color: #35424A;
}

.article {
  border: solid 1px #CCCCCC;
  background-color: #E6E6E6;
  padding: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
  .article {
    text-align: center;
  }
}
=======
>>>>>>> AbdellahSabiri
body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
