aside{
    margin-left: 10px;
}
.marked{
    padding:10px;
    color:map-get($colors, "white");
    background-color:map-get($colors, "blue");
}

.article{
    border:solid 1px map-get($colors, "darak-gray");
    background-color: map-get($colors, "light-gray");
    padding: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .article{
        text-align: center;
    }
}
    