.banner{
    padding:80px 50px;
    color:map-get($colors, "white");
    text-align: center;
    background: url("../images/showcase.jpg");
    background-position-y: center;
}

.subscribe-nav{
    background-color: map-get($colors, "blue");
    color : map-get($colors, "white");
    padding: 20px 8%;
    margin:0;
    @include clearfix;
}


.subscribe-nav .left{
    float:left;
}
.subscribe-nav .right{
    float:right;
}
.subscribe-nav form{
    padding:8px 0;
}
@media only screen and (max-width: 600px) {
    .right{
        clear:right;
        width: 100%;
        margin: auto;
    }
    .subscribe-nav form button,input{
        margin-top:5px;
        width: 100%;
    }
}
