nav{
    background-color: map-get($colors, "blue");
    color : map-get($colors, "white");
    border-bottom: 3px solid map-get($colors, "brown");
    padding: 30px 8%;
    margin:0;
    @include clearfix;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
  float: left;
}

nav ul li a{
    color:map-get($colors, "white");
    display:block;
    padding:10px;
    text-align: center;
    text-transform: uppercase;
}


.active{
    color:map-get($colors, "brown");
}

.links{
    float:right;
}
.logo{
    float:left;
}

@media only screen and (max-width: 700px) {
    .links, .links ul li{
        margin:auto;
        width: 100%;
    }
}