$c-white     : #FFFFFF;
$c-brown     : #967D4D;
$c-blue      : #35424A;
$c-gray      : #F4F4F4;
$c-black     : #000;
$c-light-gray: #E6E6E6;
$c-dark-gay  : #CCCCCC;


.c-white{
    color:$c-white;
}
.c-brown{
    color:$c-brown;
}
.c-blue{
    color:$c-blue;
}
.c-gray{
    color:$c-gray;
}
.c-black{
    color:$c-black;
}

.bg-white{
    background-color:$c-white;
}
.bg-brown{
    background-color:$c-brown;
}
.bg-blue{
    background-color:$c-blue;
}
.bg-gray{
    background-color:$c-gray;
}
.bg-black{
    background-color:$c-black;
}