aside{
    margin-left: 10px;
}
.marked{
    padding:10px;
    color:$c-white;
    background-color:$c-blue;
}

.article{
    border:solid 1px $c-dark-gay;
    background-color: $c-light-gray;
    padding: 20px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .article{
        text-align: center;
    }
}
    