.banner{
    padding:80px 50px;
    color:$c-white;
    text-align: center;
    background: url("../images/showcase.jpg");
    background-position-y: center;
}

.subscribe-nav{
    background-color: $c-blue;
    color : $c-white;
    padding: 20px 8%;
    margin:0;
}

.subscribe-nav::after{
    content:"";
    display: table;
    clear: both;
}

.subscribe-nav .left{
    float:left;
}
.subscribe-nav .right{
    float:right;
}
.subscribe-nav form{
    padding:8px 0;
}
@media only screen and (max-width: 600px) {
    .right{
        clear:right;
        width: 100%;
        margin: auto;
    }
    .subscribe-nav form button,input{
        margin-top:5px;
        width: 100%;
    }
}
