nav{
    background-color: $c-blue;
    color : $c-white;
    border-bottom: 3px solid $c-brown;
    padding: 30px 8%;
    margin:0;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li{
  float: left;
}

nav ul li a{
    color:$c-white;
    display:block;
    padding:10px;
    text-align: center;
    text-transform: uppercase;
}

nav::after{
    content: "";
    clear: both;
    display: table;
}


.active{
    color:$c-brown;
}

.links{
    float:right;
}
.logo{
    float:left;
}

@media only screen and (max-width: 700px) {
    .links, .links ul li{
        margin:auto;
        width: 100%;
    }
}